body {
  background-color: #f1efe2; 
}
#pagewrap {
  margin: 0 auto;
  width: 988px;
}
#logo {
  float: left;
  margin-top: 30px;
}
#phone {
  float:right;
  margin-top: 63px;
}
#menu {
  margin-top:15px;
}
#home {
  float:left;
  background: url('images/home.jpg') no-repeat;
  height: 46px;
  width: 131px;
}
#about {
  float:left;
  background: url('images/about.png') no-repeat;
  height: 46px;
  width: 188px;  
}
#products {
  float:left;
  background: url('images/products.png') no-repeat;
  height: 46px;
  width: 191px;  
}
#rates {
  float:left;
  background: url('images/rates.png') no-repeat;
  height: 46px;
  width: 158px;  
}
#apply {
  float:left;
  background: url('images/apply.png') no-repeat;
  height: 46px;
  width: 160px;  
}
#contact {
  float:left;
  background: url('images/contact.png') no-repeat;
  height: 46px;
  width: 158px;  
}
#picture {
  position: relative;
  margin-top: 10px;
  background: url('images/picture.png') no-repeat;
  height: 328px;
  width: 988px;
}
#city {
  position: absolute;
  left: 687px;
  top: 109px;
  display: block;
  height: 27px;
  width: 266px;
}
#cityinput {
  padding: 5px;
  background: transparent;
  width: 254px;
  border: 0;
}
.dropdown {
  height: 31px;
  width: 130px;
  display: block;
  padding-top: 5px;
}
#pricefrom {
  position: absolute;
  right: 173px;
  top: 165px;
  height: 31px;
  width: 130px;
}
#priceto {
  position: absolute;
  right: 33px;
  top: 165px;
  height: 31px;
  width: 130px;
}
#beds {
  position: absolute;
  right: 173px;
  top: 223px;
  height: 31px;
  width: 130px;
}
#baths {
  position: absolute;
  right: 33px;
  top: 223px;
  height: 31px;
  width: 130px;
}
#submitbutton {
  position: absolute;
  height: 31px;
  width: 101px;
  display: block;
  background: transparent;
  top: 267px;
  right: 114px;
}
#details {
  margin-top: 20px;
  width: 988px;
  height: 149px;
}
#proddetails {
  float: left;
  background: url('images/proddetails.png') no-repeat;
  height: 149px;
  width: 318px;
}
#ratesdetails {
  float: left;
  margin-left: 17px;
  background: url('images/ratesdetails.png') no-repeat;
  height: 149px;
  width: 318px;
}
#moreinfo {
  float: left;
  margin-left: 17px;
  background: url('images/moreinfo.png') no-repeat;
  height: 149px;
  width: 318px;
}
#lowerline {
  float: left;
  background: url('images/line.png') no-repeat;
  height: 10px;
  width: 988px;
  margin-top: 14px;
}
#compinfo {
  margin-top: 15px;
  height: 178px;
  width: 988px;
}
#slogan {
  float: left;
  background: url('images/welcome.png') no-repeat;
  height: 178px;
  width: 654px;
}
#info {
  float: left;
  background: url('images/contactus.png') no-repeat;
  margin-left: 16px;
  height: 178px;
  width: 318px;
}
#dotted {
  height: 20px;
  width: 988px;
  border-bottom: 1px dashed black;
}
.bar {
  float: left;
  margin-left: 5px;
  height: 14px;
  width: 1px;
  background: #9e8b49;
}
#links {
  position: relative;
  margin-top: 10px;
  height: 42px;
  width: 988px;
  padding-bottom: 15px;
}
#shome {
  float: left;
  margin-left: 5px;
  text-decoration: none;
  color: #2e7108;
}
.bottomlinks {
  float: left;
  margin-left: 5px;
  text-decoration: none;
  color: #9e8b49;
}
#copyright {
  float: left;
  margin-left: 5px;
  margin-top: 10px;
}
#slogo {
  position: absolute;
  right: 0px;
  bottom: 15px;
  float: right;
  background: url('images/slogo.png') no-repeat;
  height: 33px;
  width: 117px;
}
.clear {
  clear: both;
}